<h1 class="text-center mt-4">Listing all Articles</h1>
<div class="text-center">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>
<div class="text-center mb-4">
  <%= will_paginate @articles, :container => false %>
</div>
